---
---
{{ reference }}

<br>

{% if entry.link %}
<small>
  → <a href="{{ link }}">link</a>,
</small>
{% endif %}

{% if entry.abstract %}
<small>
  <a href="#" onclick="$('#entry-abstract').toggle();">toggle abstract</a>, 
</small>
{% endif %}

<small>
  <a href="#" onclick="$('#entry-bibtex').toggle();">toggle bibtex</a>
</small>

{% if entry.abstract %}
<p>
  <small id="entry-abstract" style="display: none;">{{ entry.abstract }}</small>
</p>
{% endif %}

<pre id="entry-bibtex" style="display: none;"><small>{{ entry.bibtex }}</small></pre>
